/*
    Software Engineer
    ---------------------------------------
    Md. Arab Hossain
    Email: arabhossain317@diu.edu.bd
           green.arab1995@gmail.com
    Mobile: +8801827-464330
            +8801737-331037
    Daffodil International University(Student)
 */

.mainFxmlClass {
    -fx-pref-tile-height: 8px;
    -fx-pref-tile-width: 4px;
    

}
